body{
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-family: 'neutra', sans-serif;
	color: #000;
}
#contentArea {
/* background: linear-gradient(180deg, rgba(224,255,255,1) 0%, rgba(99,136,199,1) 53%, rgba(45,65,140,1) 80%, rgba(13,16,59,1) 100%); */
	background-color: #555;
	display: flex;
  justify-content: center;

}
#gameCanvas {
  position: absolute;
}

@font-face {
  font-family: "neutra";
  src: url(fonts/NeutraDispBoldAlt.otf) format("opentype");
}
